@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');:root{
  --primary: #08A6E4;
  --secundary: #FB3B64;
  --special: #55DFB4;
  --shadow-primary: #08a8e34a;
  --shadow-secundary: #fb3c654a;
  --shadow-special: #54deb24a;
  --shadow-grey: #0000004a;
  --white: #FFFFFF;
  --grey: #95989a;
  --border-grey:#E8E9ED;

}
/* IMPROVE Revisar los gap hay algunos en px y otros en rem */
body{
  margin: 0;
  /*TODO  Poner las fuentes en local y cambiarlo de aqui, esto es temporal para dar estilo general*/
  font-family: 'Raleway', sans-serif;
}
button{
  padding:1rem 3rem;
  border: 1px solid transparent;
  border-radius: 2rem;
  font-weight: bold;
  color: var(--white);
}
.btn-primary{
  background-color: var(--primary);
  box-shadow:5px 10px 14px  var(--shadow-primary);
  transition: 0.5s;
}
.btn-primary:hover{
  background-color: var(--special);
}
.btn-secundary{
  background-color: var(--secundary);
  transition: 0.5s;
}
.btn-secundary:hover{
  background-color: var(--special);
}
.btn-special{
  background-color: var(--special);
  transition: 0.5s;
}
.btn-primary:hover{
  background-color: var(--primary);
}
nav{
  position: sticky;
  display: flex;
  top:0;
  background-color: var(--white);
  z-index: 1;
  box-shadow: 0 3px 6px var(--shadow-grey);
}
.logo{
  margin: 0;
  color: var(--primary);
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 26px;

}
.info-header{
  display: flex;
  flex-direction: column;
  padding: 2rem ;
  text-align: center;
}
/* IMPROVE Hay que mejorar la colocación de estos elementos ya que esta con margenes */
.info-header> p{
  margin-top:0;
  margin-bottom: 51px ;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}
.info-header>button{
  padding: 1.25rem 3rem;
}
header{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4rem;
}
header >img{
  width: 100%;
  justify-self: flex-end;
}
h1{
  font-size: 35px;
  font-weight: 400;
}

.reasons-sales{
  background-color: #F7F7F7;
  height: max-content;
  padding: 42px 30px;
  display: flex;
  flex-direction: column;
  gap: 42px;
}
.reasons-sales > div {
  background-color: var(--white);
  box-sizing: border-box;
  padding: 21px;
  border:1px solid var(--border-grey);
  border-radius: 5px;
}
.reasons-sales h3{
  font-weight: 400;
  font-size: 30px;
}
#trumpet{
  background-color: var(--special);
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  border-radius:0 0 5px 5px;
}
.pricing h4 {
  margin-top: 0;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}
.pricing{
  padding: 53px 18px
}
.pricing__container{
  margin:0 auto;
  max-width: 422px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2.5rem;
}
.pricing__container > div{
  position: relative;
  padding: 20px 10px 50px;
  border: 1.5px solid black;
  border-radius: 18px;
  display: flex;
  flex-direction: row;
  width: calc(100% - 15%);
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
}
.pricing p {
  width: 40%;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.pricing .basic{
  border-color: var(--secundary);
}

.pricing .professional{
  width: 95%;
  gap:0.5rem;
  justify-content: space-evenly;
  border-color: var(--primary);
}
.pricing .basic:hover{
  box-shadow: 5px 10px 27px var(--shadow-secundary);
}
.pricing .professional:hover{
  box-shadow: 5px 10px 27px var(--shadow-primary);
}
.pricing .premium:hover{
  box-shadow: 5px 10px 27px var(--shadow-special);
}
.pricing .premium{
  border-color: var(--special);
}
.pricing strong{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 46px;
  font-weight: 300;
}
.basic strong{
  color:var(--secundary);
}
.professional strong{
  color:var(--primary);
}
.premium strong{
  color:var(--special);
}
p.offer::after{
  content:"Limited offer";
  font-size: 12px;
}
.pricing ul {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style-image: url(../assets/img/icons/Checkbox.svg);
  margin: 0;
  padding-left: 25px ;
}
.pricing ul li{
  margin: 20px auto;
}
.pricing ul li:first-child{
  margin-top: 0;
}
.pricing ul li:last-child{
  margin-bottom: 0;
}
li.disadvantages{
  list-style-image: url(../assets/img/icons/Cross.svg);
}
.pricing div > button{
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.contact h5{
  margin: 0;
  font-weight: 400;
  font-size: 40px;
}
.contact p{
  margin: 0;
}
.contact{
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}
.mail-phone{
  display: flex;
  flex-direction: column;
  gap: 1rem ;
}
.mail-phone > p{
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: var(--grey);
}
form{
  width: 85%;
  margin:2.5rem auto;
  display: flex;
  flex-direction: column;
  gap:2.5rem;
}
form > button{
  width: 60%;
  align-self: flex-end;
}
label{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:1.5rem;
  font-size: 11px;
  font-weight: 700;
  color: var(--primary);
  letter-spacing: 3px;
  text-transform:uppercase;
}
/* IMPROVE Hay que mejorar la parte del alto ya que no es exactamente eso */
input[type=text],input[type=email]{
  width: 100%;
  border:0;
  border-bottom: 1px solid var(--grey);
}
input[type=text]:focus-visible,input[type=email]:focus-visible{
  border:0;
  outline:none;
  border-bottom: 2px solid var(--primary);
}
input[type=checkbox]{
  appearance: none;
  position: relative;
  width: 24px;
  height: 24px;
  border:1px solid var(--grey);
  border-radius: 4px;
}
input[type=checkbox]:checked::after{
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 6px;
  left: 5px;
  background: url(../assets/img/icons/checkmark.svg) no-repeat;
  background-size: contain;
}
#data-protection{
  display:flex;
  flex-direction: row;
  gap:10px;
}
#data-protection > p{
  width: calc(100% - 31px);
  margin: 0;
  color: var(--grey);
  font-weight: 500;
  text-transform:none;
  letter-spacing: 0;
}
footer{
  background-color: var(--white);
  padding: 21px 0;
  margin-top: 40px ;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -5px 40px var(--shadow-grey);
}
.info-footer{
  display: flex;
  flex-direction: column;
  font-size: 11px;
  color:var(--shadow-grey)
}
.social-media{
  display: flex;
  flex-direction: row;
  gap:1rem;
}
@media only screen and (min-width: 768px) {
  .pricing__container{
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
  }
  .mail-phone{
    flex-direction: row;
  }
  .section-contact{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
  form{
    margin: 0;
  }
}
