@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');
:root{
  --primary: #08A6E4;
  --secundary: #FB3B64;
  --special: #55DFB4;
  --shadow-primary: #07ace64a;
  --shadow-grey: #0000004a;
  --white: #FFFFFF;

}
body{
  margin: 0;
  /*TODO  Poner las fuentes en local y cambiarlo de aqui, esto es temporal para dar estilo general*/
  font-family: 'Raleway', sans-serif;
}
button{
  padding:1rem 3rem;
  border: 1px solid transparent;
  border-radius: 2rem;
  font-weight: bold;
  color: var(--white);
}
.btn-primary{
  background-color: var(--primary);
  box-shadow:5px 10px 14px  var(--shadow-primary);
}
nav{
  position: sticky;
  display: flex;
  top:0;
  background-color: var(--white);
  box-shadow: 0 3px 6px var(--shadow-grey);
}
.logo{
  margin: 0;
  color: var(--primary);
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 26px;

}
.info-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
header >img{
  width: 100%;
}
.reason-sales{
  background-color: #E5E5E5;
  height: max-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
section.reason-sales > div {
  width: 90%;
  background-color: var(--white);
  border-radius: 12px;

}
.trumpet{
  background-color: var(--special);
  height: min-content;
}
label{
  display: flex;
  flex-direction: column;
}
footer{
  background-color: var(--white);
  padding: 21px 0;
  margin-top: 40px ;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -5px 40px var(--shadow-grey);
}
.info-footer{
  display: flex;
  flex-direction: column;
  font-size: 11px;
  color:var(--shadow-grey)
}
.social-media{
  display: flex;
  flex-direction: row;
  gap:1rem;
}
