@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');:root{
  --primary: #08A6E4;
  --secundary: #FB3B64;
  --special: #55DFB4;
  --shadow-primary: #07ace64a;
  --shadow-grey: #0000004a;
  --white: #FFFFFF;
  --grey: #95989a;

}
/* IMPROVE Revisar los gap hay algunos en px y otros en rem */
body{
  margin: 0;
  /*TODO  Poner las fuentes en local y cambiarlo de aqui, esto es temporal para dar estilo general*/
  font-family: 'Raleway', sans-serif;
}
button{
  padding:1rem 3rem;
  border: 1px solid transparent;
  border-radius: 2rem;
  font-weight: bold;
  color: var(--white);
}
.btn-primary{
  background-color: var(--primary);
  box-shadow:5px 10px 14px  var(--shadow-primary);
  transition: 0.5s;
}
.btn-primary:hover{
  background-color: var(--special);
}
nav{
  position: sticky;
  display: flex;
  top:0;
  background-color: var(--white);
  box-shadow: 0 3px 6px var(--shadow-grey);
}
.logo{
  margin: 0;
  color: var(--primary);
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 26px;

}
.info-header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
header >img{
  width: 100%;
}
.reason-sales{
  background-color: #E5E5E5;
  height: max-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
section.reason-sales > div {
  width: 90%;
  background-color: var(--white);
  border-radius: 12px;

}
.trumpet{
  background-color: var(--special);
  height: min-content;
}
.contact h4{
  margin: 0;
  font-weight: 400;
  font-size: 40px;
}
.contact p{
  margin: 0;
}
.contact{
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
}
.mail-phone{
  display: flex;
  flex-direction: column;
  gap: 1rem ;
}
.mail-phone > p{
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: var(--grey);
}
form{
  width: 85%;
  margin:2.5rem auto;
  display: flex;
  flex-direction: column;
  gap:2.5rem;
}
form > button{
  width: 60%;
  align-self: flex-end;
}
label{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:1.5rem;
  font-size: 11px;
  font-weight: 700;
  color: var(--primary);
  letter-spacing: 3px;
  text-transform:uppercase;
}
/* IMPROVE Hay que mejorar la parte del alto ya que no es exactamente eso */
input[type=text],input[type=email]{
  width: 100%;
  border:0;
  border-bottom: 1px solid var(--grey);
}
input[type=text]:focus-visible,input[type=email]:focus-visible{
  border:0;
  outline:none;
  border-bottom: 2px solid var(--primary);
}
input[type=checkbox]{
  appearance: none;
  position: relative;
  width: 24px;
  height: 24px;
  border:1px solid var(--grey);
  border-radius: 4px;
}
input[type=checkbox]:checked::after{
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  top: 6px;
  left: 5px;
  background: url(../assets/img/icons/checkmark.svg) no-repeat;
  background-size: contain;
}
#data-protection{
  display:flex;
  flex-direction: row;
  gap:10px;
}
#data-protection > p{
  width: calc(100% - 31px);
  margin: 0;
  color: var(--grey);
  font-weight: 500;
  text-transform:none;
  letter-spacing: 0;
}
footer{
  background-color: var(--white);
  padding: 21px 0;
  margin-top: 40px ;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -5px 40px var(--shadow-grey);
}
.info-footer{
  display: flex;
  flex-direction: column;
  font-size: 11px;
  color:var(--shadow-grey)
}
.social-media{
  display: flex;
  flex-direction: row;
  gap:1rem;
}
@media only screen and (min-width: 1000px) {

}
